<div class="forgot-Password-container">
    <div class="forgot-password-head">

        <div class="funDo">
            <b class="F">F</b>
            <b class="u">u</b>
            <b class="n">n</b>
            <b class="D">D</b>
            <b class="o">o</b>
            <b class="oo">o</b>
        </div>

    </div>
    <div class="password-head">
        <h2>Reset Password</h2>
    </div>
    <div class="head-line">
        <h3>Enter your phone number or email</h3>
    </div>
    
<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">

    <div class="recovery-field">
        <mat-form-field class="recovery-email-phone-input" appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput placeholder="Password">
            <mat-error>please create valid password</mat-error>
        </mat-form-field>
    </div>
    
    <div class="recovery-field">
        <mat-form-field class="recovery-email-phone-input" appearance="outline">
            <mat-label>Confirm new password</mat-label>
            <input formControlName="confirmPassword" matInput placeholder="Confirm password">
            <mat-error>please create valid password</mat-error>
        </mat-form-field>
    </div>
    
    <h5>Use 8 or more characters with a max of letters, numbers & symbols</h5>
    <label style="cursor:pointer;">
        <input type="checkbox">
        Show Password</label>
    

    <div class="bottom-options">
        <div class="save">
            <button class="save-button" mat-raised-button>Save</button>
        </div>
    </div>
</form>
</div>